.homeContainer{
    display: flex;
    width: 100%;
}

.alert {
  margin: 20px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
